body{
    background-image: linear-gradient( 100deg,  rgba(33,150,243,1) 1.8%, rgba(22,255,245,0.60) 97.1% );
    text-align: center;
   
}
.imageGallery{
    float: left;
    margin-left: 27px;
    margin-top: 50px;
    border: 2px solid rgba(0, 0, 0, 0.5);  
    border-radius: 20px; 
}
h1{
    text-align: center;
    font-size: 50px;
    color: black;
    text-shadow: 2px 2px blue;
    font-family: cursive;
}
img{
     border-radius: 20px; 
}
div{
    height: 430px;
    width: 300px;
}
.p1{
    font-family: cursive ;
    color: black;
    font-style: italic;
    font-size: 20px;
    text-shadow: 2px 2px  grey;
}
.imageGallery1{
    float: left;
    margin-top: 50px;
    margin-left: 27px;
    border: 2px solid rgba(0,0,0,0.5);   
    border-radius: 20px;
}
.k1{
    margin-top: 10px;
    float: right;
    color: black;
    margin-left: 15px;
    font-size: 20px;
}
.k2{
    margin-top: 10px;
    float: left;
    color: black;
    margin-left: 15px;
    font-size: 20px;
}
a{
    color: black;
    text-decoration: none;
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    font-style: italic;
    font-size: 20px;
}
a:hover{
    text-decoration: wavy;
    color: rgb(230, 0, 134);
}
.k3
{
    text-decoration: none;
    background-color:rgba(0, 0, 0, 1) ;
    color: whitesmoke;
    font-size: 15px;
    padding: 10px 20px;
}